@mixin textos($color, $font-weight, $display, $font-family) {
    color: $color;
    font-weight: $font-weight;
    display: $display;
    font-family: $font-family;
}
.fotosDoctoras {
    height: 15rem;
    margin: 5px;
    border-style: solid;
    border-width: 3px;
    color: rgb(46, 43, 57)
}
.equipoLogo {
    padding: 5px;
    font-size: x-large;
    display: inline-block;
    color:rgb(46, 43, 57);
}
.equipo {
    @include textos(rgb(46, 43, 57), 700, inline-block, "Montserrat")
}
.textoDoctoras {
    @include textos(black, 400, inline-block, "Montserrat")
}