$marginAndText: (
    color: #2e2b39,
    margin: 10px,
    font-size: large,
    font-weight: 500,
    text-align: center
);

.caroussel {
    margin-top: 20px;
    margin-bottom: 5px;
}
.info {
    margin-left: 5px;
}
.info2 {
    margin-left: 5px;
}
.tituloHead {
    text-align: center;
    margin: 30px;
}
.importante {
    font-weight: 700;
}
.carouselFotos {
    size: 720px;
    border-radius: 5px;
}
.sonrisaIndex {
    color: map-get($marginAndText, color);
    margin-bottom: map-get($marginAndText, margin);
    font-size: map-get($marginAndText, font-size);
    font-weight: map-get($marginAndText, font-weight);
    text-align: map-get($marginAndText, text-align);
}
.fotoConsultorio {
    height: 25rem;
    border-radius: 30px;
    margin: 10px;
}
@media (max-width: 1024px) {
    .fotoConsultorio {
        height: 33rem;
    }
    .info2 {
        width: 985px;
        margin-left: 5px;
    }
}
@media (max-width: 768px) {
    .fotoConsultorio {
        height: 25rem;
    }
    .info2 {
        width: 720px;
        margin-left: 5px;
    }
}
@media (max-width: 425px) {
    .fotoConsultorio {
        height: 12.5rem;
    }
    .info2 {
        width: 100%;
        margin-left: 5px;
    }
    
}
@media (max-width: 375px) {
    .fotoConsultorio {
        height: 11rem;
    }
}
@media (max-width: 320px) {
    .fotoConsultorio {
        height: 9rem;
    }
}